body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #d0f0ff, #a6c6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.chat-container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  width: 500px;
  text-align: center;
}

.chat-box {
  background-color: #f3f3ff;
  border-radius: 10px;
  padding: 20px;
  min-height: 100px;
  margin-bottom: 20px;
  text-align: left;
}

.bot-msg {
  background: #e3d7ff;
  padding: 10px 15px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.chat-form input {
  width: 70%;
  padding: 10px;
  border: 2px solid #a28ff4;
  border-radius: 8px;
}

.chat-form button {
  padding: 10px 15px;
  background: #5c33cc;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  cursor: not-allowed;
}

.note {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.back-button-wrapper {
  text-align: left;
  margin-bottom: 10px;
}

.back-btn {
  background-color: #570ba2;
  color: #fff5f5;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  left: 30px
}

.back-btn:hover {
  background-color: #bbb;
}

